/*
   New Perspectives on HTML and CSS
   Tutorial 9
   Case Problem 2

   The Gargoyle Collection HTML5 Style Sheet

   Author: 
   Date:   

   Filename:         maah5.css
   Supporting Files: 

*/



