/*
   New Perspectives on HTML and CSS
   Tutorial 9
   Case Problem 2

   Middle Age Arts Style Sheet

   Author:    
   Date:      

   Filename:         maa.css
   Supporting Files: 

*/

img {
   border-width: 0px;
}

