/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Case Problem 3

   Special Effects style sheet
   Author: 
   Date:   

   Filename:         sweffects.css
   Supporting Files: 

*/




